@{
    ViewBag.Title = "emailRegistro";
}

<h2>Registro Medico</h2>

<span>Nombre: </span> <span>@ViewBag.Nombre</span><br />
<span>Apellido(s): </span> <span>@ViewBag.Apellido</span><br />
<span>RFC: </span> <span>@ViewBag.Rfc</span><br />
<span>Cedula: </span> <span>@ViewBag.Cedula</span><br />
<span>No. S.S.A.: </span> <span>@ViewBag.Nossa</span><br />
<span>No. Certificaci&oacute;n: </span> <span>@ViewBag.cmcp</span><span><br />
<span>Hospital Residencia Profesional: </span> <span>@ViewBag.hospitalResidencia</span><br />
<span>Universidad de Especialidad: </span> <span>@ViewBag.uniEspecialidad</span><br />
<span>Cedula de Especialidad: </span> <span>@ViewBag.cedulaEspecialidad</span><br />
<span>Nombre del Colegio Estatal: </span> <span>@ViewBag.colegioEspecialidad</span><br />
<span>Nombre de Agrupaci&oacute;n Estatal: </span> <span>@ViewBag.Agrupacion</span><br />
<span>No. Exterior: </span> <span>@ViewBag.noExterior</span><br />
<span>C&oacute;digo Postal: </span> <span>@ViewBag.CP</span><br />
<span>Domicilio: </span> <span>@ViewBag.Domicilio</span><br />
<span>Colonia: </span> <span>@ViewBag.Colonia</span><br />
<span>Estado: </span> <span>@ViewBag.Estado</span><br />
<span>Ciudad: </span> <span>@ViewBag.Ciudad</span><br />
<span>Domicilio de Consultorio: </span> <span>@ViewBag.domicioConsultorio</span><br />
<span>Tel&eacute;fono: </span> <span>@ViewBag.tel</span><br />
<span>Tel&eacute;fono Consultorio: </span> <span>@ViewBag.telc</span><br />
<span>Celular: </span> <span>@ViewBag.celular</span><br />
<span>Fax: </span> <span>@ViewBag.fax</span><br />
<span>Correo Electr&oacute;nico: </span> <span>@ViewBag.Email</span><br />
